.earangu-show__poem-card-thumbnail {
  @apply rounded-lg;
}

.earangu-show__poem-card-title-bar {
  background-color: #1A202C;
  @apply rounded-b-lg;
}

@screen md {
  .earangu-show__poem-card-thumbnail {
    border-radius: 1.25rem;
  }
  .earangu-show__poem-card-title-bar {
    border-bottom-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
  }
}
